<div class="projects__container">
  <h1>Igangv&aelig;rende projekter for denne kunde:</h1>
  <div class="projects__list js-projects__list">
    {{#each projects}}
      {{>project}}
    {{/each}}
  </div>
</div>
<hr>
<h1>Alle opgaver for denne kunde</h1>
{{#each projects}}
  {{#each stories}}
    {{#ifNotCond this.status 4}}
      {{>company_story}}
    {{/ifNotCond}}
  {{/each}}
{{/each}}
<hr>
<h1>Alle færdige opgaver for denne kunde</h1>
{{#each projects}}
  {{#each stories}}
    {{#ifCond this.status 4}}
      {{>company_story}}
    {{/ifCond}}
  {{/each}}
{{/each}}
