<div class="sprint__container">
  <div class="icebox__container">
    <h2>Icebox</h2>
    <div class="icebox__list js-story__column">
      {{#each icebox}}
        {{>story}}
      {{/each}}
    </div>
  </div>
  <div class="backlog__container">
    <div class="backlog__todo">
      <h2>Todo</h2>
      <div class="todo__list js-story__column">
        {{#each backlog.todo}}
          {{>story}}
        {{/each}}
      </div>
    </div>
    <div class="backlog__inprogress">
      <h2>In Progress</h2>
      <div class="inprogress__list js-story__column">
        {{#each backlog.inProgress}}
          {{>story}}
        {{/each}}
      </div>
    </div>
    <div class="backlog__qa">
      <h2>QA</h2>
      <div class="qa__list js-story__column">
        {{#each backlog.qa}}
          {{>story}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="done__container">
    <h2>Done</h2>
    <div class="done__list js-story__column">
      {{#each done}}
        {{>story}}
      {{/each}}
    </div>
  </div>
</div>
