// Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors,
// pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is
// on the page, it should look like this.

// The base rules should not include class- or ID-selectors, just the base elements.

// Base
// ==========================================================================

html { font-size: $font-base-size; }

body {
  color: #000000;
  font-family: $font;
  line-height: 1.3;
  margin: 0 auto;
  font-size: 12px;
  font-size: 1.2em;
  background-color: #f1f1f1;
}
