// Grid stuff
// ==========================================================================

.container {
  @extend %container;
}

// Clearfix
// ==========================================================================

%clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
